* {
    box-sizing: border-box;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    margin: 0;
    background: url("../img/bg.png") no-repeat center center;
    background-size: cover;
}

html, body {
    height: 100%;
}

body::after {
    content: url("../img/food1.png") url("../img/food2.png") url("../img/food3.png") url("../img/food4.png") url("../img/food5.png");
    display: none;
}

/*default iphone6*/
.dog {
    position: absolute;
    width: 350px;
    height: 350px;
    background: url("../img/dog.png") no-repeat center center;
    background-size: 100% 100%;
    left: 50%;
    top: 25%;
    margin-left: -175px;
    margin-top: -25%;
}


.face {
    position: absolute;
    top: 52%;
    left: 39%;
    width: 74px;
    height: 74px;
    background: url("../img/face-1.png") no-repeat center center;
    background-size: 100% 100%;
}

.mouse-up {
    background-image: url("../img/face-2.png");
}

.mouse-up-active {
    animation-name: mouse-up;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes mouse-up {
    0% {
        background-image: url("../img/face-1.png");
    }
    50% {
        background-image: url("../img/face-2.png");
    }
    100% {
        background-image: url("../img/face-1.png");
    }
}

.mouse-eat-active {
    animation-name: mouse-eat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes mouse-eat {
    0% {
        background-image: url("../img/face-3.png");
    }
    50% {
        background-image: url("../img/face-4.png");
    }
    100% {
        background-image: url("../img/face-3.png");
    }
}

.food {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
    /*transition: all .5s;*/
}

.click-area {
    position: absolute;
    bottom: 10%;
    width: 145px;
    height: 103px;
}

.left {
    left: 7%;
    background: url("../img/dish1.png") no-repeat center;
    background-size: 100%;
}

.right {
    right: 7%;
    background: url("../img/dish2.png") no-repeat center;
    background-size: 100%;
}


.tishi {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 3%;
    width: 100%;
    font-size: 13px;
}

.time-box {
    display: table;
    position: absolute;
    top: 3%;
    height: 30px;
    width: 100%;
    padding: 0 30px;
}

.time-box .text {
    display: table-cell;
    width: 20%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: gold;
}

.box {
    display: table-cell;
    width: 100%;
    height: 100%;
    background: #757575;
    border: 1px solid #f0b94e;
    border-radius: 15px;
    box-shadow: inset 2px 2px 15px 0 black;
    padding: 1px;
}

.inner {
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    overflow: hidden;
}

.bar {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background: url("../img/bar.png") no-repeat center center;
    /*background: gold no-repeat center center;*/
    /*box-shadow: inset -15px 1px 10px 3px rgba(255,255,255, 0.6), inset -35px 2px 20px 3px rgba(255,255,255, 0.5);*/
    /*background-size: 100% 100%;*/
    background-size: cover;
}


.start-to {
    /*animation-name: timeout;*/
    /*animation-duration: 15s;*/
    /*animation-timing-function: linear;*/
    /*animation-fill-mode: forwards;*/
    animation: timeout 15s linear forwards;
    -moz-animation: timeout 15s linear forwards;
    -o-animation: timeout 15s linear forwards;
    -webkit-animation: timeout 15s linear forwards;
}

@keyframes timeout {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

@-moz-keyframes timeout {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

@-webkit-keyframes timeout {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

@-o-keyframes timeout {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}

.count {
    position: absolute;
    top: 17%;
    display: inline-block;
    font-size: 60px;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 500;
    padding-top: 22%;
    color: #fff;
    text-align: center;
}

.modal .num {
    /*position: relative;*/
    font-size: 100px;
    /*text-align: center;*/
    margin-top: 15%;
}



.game-over_sharetip {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 3%;
    background: url("../img/gameover/share.png") no-repeat center center;
    background-size: 100% 100%;
}

.game-over {
    width: 350px;
    padding-top: 22%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.game-over .title {
    width: 220px;
    height: 30px;
}

.game-over .subtitle {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

.jpnum {
    color: red;
    font-size: 25px;
    margin: 0 8px;
    font-style: italic;
}

.dw {
    font-size: 20px;
}

.jpname {
    font-style: italic;
}

.game-over .edog {
    width: 286px;
    height: 240px;
}

/*.score {*/
    /*display: inline-block;*/
    /*font-size: 26px;*/
/*}*/

.result {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 4px;
}

.beatnum {
    color: #fdad2a;
    margin: 0 8px;
    font-size: 22px;
}

.btn {
    margin-top: 10px;
    width: 300px;
    height: 55px;
}

.dogbox {
    position: relative;
}

.score {
    position: absolute;
    top: 69%;
    left: 44%;
    font-size: 33px;
    color: red;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    width: 60px;
}

.say {
    position: absolute;
    width: 130px;
    height: 115px;
    top: 18%;
    left: 66%;
}

/*iphone6plus*/
@media only screen and (min-width : 376px) {
    .dog {
        width: 370px;
        height: 370px;
        margin-left: -185px;
    }
    .click-area {
        width: 155px;
        height: 110px;
        bottom: 11%;
    }
    .left {
        left: 8%;
    }
    .right {
        right: 8%;
    }
    .face {
        width: 78px;
        height: 78px;
    }
    .tishi {
        font-size: 14px;
    }
    .time-box .text {
        font-size: 18px;
    }
    .time-box {
        height: 34px;
    }
    .box {
        border-radius: 17px;
    }
    .inner {
        border-radius: 15px;
    }
    .bar {
        border-radius: 15px;
    }
    .count {
        top: 15%;
        font-size: 65px;
    }
    .modal .title {
        font-size: 36px;
    }
    .modal p {
        font-size: 18px;
    }
    .modal .num {
        font-size: 110px;
    }
}

/*ipad*/
@media only screen and (min-width : 768px) {
    .dog {
        width: 500px;
        height: 500px;
        margin-left: -250px;
    }
    .click-area {
        width: 230px;
        height: 163px;
    }
    .left {
        left: 10%;
    }
    .right {
        right: 10%;
    }
    .face {
        width: 106px;
        height: 106px;
    }
    .tishi {
        font-size: 20px;
    }
    .time-box .text {
        font-size: 24px;
    }
    .time-box {
        height: 46px;
    }
    .box {
        border-radius: 23px;
    }
    .inner {
        border-radius: 21px;
    }
    .bar {
        border-radius: 21px;
    }
    .count {
        top: 13%;
        font-size: 70px;
    }
    .modal .title {
        font-size: 50px;
    }
    .modal p {
        font-size: 26px;
    }
    .modal .num {
        font-size: 120px;
    }

    .game-over_sharetip {
        width: 120px;
        height: 120px;
    }
    .game-over {
        width: 500px;
        padding-top: 20%;
    }
    .game-over .title {
        width: 380px;
        height: 50px;
    }
    .game-over .subtitle {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .jpnum {
        font-size: 35px;
    }
    .dw {
        font-size: 30px;
    }
    .game-over .edog {
        width: 350px;
        height: 290px;
    }
    .score {
        font-size: 39px;
        left: 45%;
    }
    .say {
        width: 200px;
        height: 176px;
        top: 9%;
        left: 64%;
    }
    .result {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .beatnum {
        font-size: 35px;
    }
    .btn {
        margin-top: 12px;
        width: 380px;
        height: 73px;
    }
}

/*iphone5*/
@media only screen and (max-height : 568px) {
    .dog {
        width: 300px;
        height: 300px;
        top: 23%;
        margin-left: -150px;
    }
    .click-area {
        width: 125px;
        height: 89px;
    }
    .face {
        width: 63px;
        height: 63px;
    }
    .tishi {
        font-size: 12px;
    }
    .time-box .text {
        font-size: 15px;
    }
    .time-box {
        height: 26px;
    }
    .box {
        border-radius: 13px;
    }
    .inner {
        border-radius: 11px;
    }
    .bar {
        border-radius: 11px;
    }
    .count {
        top: 14%;
        font-size: 50px;
    }
    .modal .title {
        font-size: 25px;
    }
    .modal p {
        font-size: 14px;
    }
    .modal .num {
        margin-top: 10%;
        font-size: 90px;
    }

    .game-over_sharetip {
        width: 60px;
        height: 60px;
    }
    .game-over {
        width: 280px;
        padding-top: 18%;
    }
    .game-over .title {
        width: 180px;
        height: 25px;
    }
    .game-over .subtitle {
        font-size: 16px;
    }
    .jpnum {
        font-size: 22px;
    }
    .dw {
        font-size: 16px;
    }
    .game-over .edog {
        width: 220px;
        height: 180px;
    }
    .score {
        font-size: 25px;
        width: 50px;
    }
    .say {
        width: 106px;
        height: 96px;
    }
    .result {
        font-size: 16px;
        letter-spacing: 2px;
    }
    .beatnum {
        font-size: 20px;
    }
    .btn {
        margin-top: 9px;
        width: 252px;
        height: 48px;
    }
}

/*iphone4*/
@media only screen and (max-height : 480px) {
    .dog {
        width: 280px;
        height: 280px;
        top: 18%;
        margin-left: -140px;
    }
    .click-area {
        width: 120px;
        height: 85px;
    }
    .left {
        left: 9%;
    }
    .right {
        right: 9%;
    }
    .face {
        width: 59px;
        height: 59px;
    }
    .tishi {
        font-size: 11px;
    }
    .time-box .text {
        font-size: 14px;
    }
    .time-box {
        height: 24px;
    }
    .box {
        border-radius: 12px;
    }
    .inner {
        border-radius: 10px;
    }
    .bar {
        border-radius: 10px;
    }
    .count {
        top: 10%;
        font-size: 50px;
    }
    .modal .title {
        font-size: 24px;
    }
    .modal p {
        font-size: 14px;
    }
    .modal .num {
        margin-top: 5%;
        font-size: 80px;
    }

    .game-over_sharetip {
        width: 50px;
        height: 50px;
    }
    .game-over {
        width: 280px;
        padding-top: 14%;
    }
    .game-over .title {
        width: 180px;
        height: 25px;
    }
    .game-over .subtitle {
        font-size: 16px;
    }
    .jpnum {
        font-size: 22px;
    }
    .dw {
        font-size: 16px;
    }
    .game-over .edog {
        width: 220px;
        height: 180px;
    }
    .score {
        font-size: 25px;
        width: 50px;
    }
    .say {
        width: 106px;
        height: 96px;
    }
    .result {
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .beatnum {
        font-size: 20px;
    }
    .btn {
        margin-top: 6px;
        width: 240px;
        height: 45px;
    }
}


/*
.active {
    top: 40%;
    left: 45%;
    width: 40px;
    height: 40px;
    transform: rotate(360deg);
}
*/